<h1>ArtistSongs#show</h1>
<h3>Display name:</h3>
<%= @artist_song.display_name %><br>
<h3>Artist name:</h3>
<%= @artist_song.artist.name %><br>
<h3>Song title:</h3>
<%= @artist_song.song.title %><br>
<h3>Alt artist names:</h3>
<% @artist_song.artist.alt_names.each do |artist_an| %>
	<%= artist_an.alt_name %><br>
<% end %>
<h3>Artist ID</h3>
<%= @artist_song.artist_id %><br>
<h3>Song ID</h3>
<%= @artist_song.song_id %><br>