<div class="well jetstrap-highlighted">
	<h3>
		<%= this_chart_name %>'s chart
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					Artist - Song Title
				</th>
				<th>
					<%= chart_message %>
				</th>
				<% if current_user and current_user.dj? %>
					<th>
						Score
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody id="chart_songs">
			<% display.each do |chart_song| %>
				<tr id="<%=chart_song.first%>">
				<%= render "static_pages/chart_song", :song => chart_song, :voter_name => voter_name, :this_chart_id => this_chart_id unless chart_song.last == "Do not play!"%>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<% if !current_user.nil? and current_user.dj? %>
			<h3>How's this gig going?</h3>
			<%= link_to 'Add a song', new_vote_path(:chart_id => @chart.id, :voter_name => voter_name), :remote => true, :id => "new_vote_link" %>
	<% end %>
</div>