    <h1 class="text-center">
    	Crowd Control
    	<br>
    </h1>
    <div class="hero-unit">
    	<h1>
    		The Request Line - <%= @chart.name %>'s Chart
    		<br>
    	</h1>
    	<p>
    		Make a request, rate a request. <br>
    		Welcome <%= @guest_name %>. Have fun at <%= @couple.name %>'s party, <%= @dj.name %> is rocking it!
    	</p>
    	<div class="well jetstrap-highlighted">
    		<h3>
    			What's been requested so far:
    			<br>
    		</h3>
    		<table class="table">
    			<tbody id = "chart_body">
    				<% @display.each do |chart_song| %>
    					<%= render "chart_song", :song => chart_song %>
    				<% end %>
    			</tbody>
    			<thead>
    				<tr>
    					<th>
    						Artist - Song Title
    					</th>
    					<th>
    						You Like?
    					</th>
    				</tr>
    			</thead>
    		</table>
    	</div>
		<%= link_to 'Add a song', new_vote_path(:chart_id => @chart.id, :voter_name => @guest_name), :remote => true, :id => "new_vote_link" %>
    </div>
