<h1 class="text-center">Sign up</h1>

<div class="hero-unit">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  		<%= devise_error_messages! %>

  		<div><%= f.label :email %>
 		<%= f.email_field :email, :autofocus => true %></div>

  		<div><%= f.label :name %>
  		<%= f.text_field :name %></div>
  
  		<div><%= f.label :password %>
  		<%= f.password_field :password %></div>

  		<div><%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation %></div>
		
		<div><%= f.label 'Assigned DJ' %>
		<%= f.collection_select(:dj_id, @djs, :id, :name, options ={:include_blank => 'Is a DJ'}) %></div>

  		<div><%= f.submit "Sign up" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>