<%= form_for(@artist) do |f| %>
	<% if @artist.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

			<ul>
			<% @song.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.fields_for :alt_names do |builder| %>
			<%= render 'alt_name_fields', :f => builder %>
	<% end %></br>
	<%= link_to_add_fields "Add an alternate name", f, :alt_names %>

  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>
