<h1>Show artist</h1>
<p>
<h2>Artist</h2>
<%= @artist.name %>
<h2>Alternative Names</h2>
<% @artist.alt_names.each do |a| %>
	<%= a.alt_name %><br>
<% end %>
<h2>Songs</h2>
<table>
<% @artist.songs.each do |as| %>
	<tr>
	<td><%= as.title %></td>
	<td><%= link_to "Edit Song", edit_song_path(as) %></td>
	</tr>
<% end %>
</table>
<%= link_to "See all artists", artists_path %></br>
