<h1 class="text-center">Crowd Control</h1>

<div class="hero-unit">
	<h2>Edit <%= @user.name %></h2>

	<%= form_for(@user) do |f| %>

	  <div><%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %></div>
  
	  <div><%= f.label :name %>
	  <%= f.text_field :name %></div>
	
			<div><%=fields_for(@chart) do |guest_password| %>
			<%= guest_password.label 'Guest Password' %>
			<%= guest_password.text_field :password %></div>
			<% end %>

	  <div><%= f.label :password %>
	  <%= f.text_field :password %></div>

	  <div><%= f.submit "Update" %></div>
	<% end %>

	<%= link_to "Back", users_path %>
</div>