<h1>Show song</h1>
<p>
<h2>Artist</h2>
<% @song.artists.each do |artist| %>
	<%= artist.name %>
	
	<h2>AKA</h2>

	<%= artist.alt_names.where(diff_nameable_type: 'Artist').map { |n_alt| n_alt.alt_name }.join(', ') %>
<% end %>

<h2>Title</h2>
<%= @song.title %>
<h2>Sometimes called</h2>
<%= @song.alt_names.where(diff_nameable_type: 'Song').map { |s_alt| s_alt.alt_name }.join(', ') %>

<h2>Chart Name</h2>
<%= @artist_song.display_name %>

<br>
<%= link_to  'New Song', new_song_path %>